sudo: required
language: node_js
node_js:
  - "5.9"
env:
  - CXX=g++-4.8
addons:
  artifacts:
    paths:
    - ./releases
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script:
  - npm run build
  - npm run lint
  - npm run package-linux
