
@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: white;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.app {
    padding: 0;
	margin-left: 80px;
	position: relative;
}

.dark {
    background-color: #282c34;
}

.toolbar-container {
    position: absolute;
    top: 0;
    bottom: 0;
	left: -80px;
	width: 80px;
	padding: 10px;
}

.map-container {
    position: fixed;
    top: 0;
    bottom: 0;
	width: 60%;
}

.map-container > div{
	height: 100%;
}

.editor-container {
    position: fixed;
    top: 0;
    bottom: 0;

	margin-left: 60%;
	width: 40%;

}

.dark .editor-container {
	background: #282c34
}

.CodeMirror {
    font: 12px/20px normal Menlo, Droidsansmono, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
}

.button {
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 10px;
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Open Sans Bold', sans-serif;
    line-height: 20px;
    font-size: 12px;

	color: white;
    background: #3887be;
}

.toolbar-button {
    display: block;
    width: 60px;
    margin-bottom: 10px;
    padding: 10px 5px;

    border-radius: 3px;
	border: none;

	font-family: 'Open Sans Bold', sans-serif;
    font-size: 12px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;

    cursor: pointer;
    white-space: nowrap;

	color: white;
    background-color: #21252b;
}

.toolbar-button:hover {
	color: white;
    background: rgba(255,255,255,.1);
}

.toolbar-button-primary {
    color: white;
    background: #73c990;
}

.toolbar-button > i, .toolbar-button > span {
	display: block;
}

.toolbar-button > i {
	margin-bottom: 4px;
}

.dark .button {
    color: #fff;
    background-color: rgba(255,255,255,0.10);
}


.dark .button:hover {
	background-color: rgba(255,255,255,0.25);
}

.button.short {
	height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.mapboxgl-ctrl > button {
}

.swatch {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
    background: #000;
}

.tabs {
	list-style: none;
	position: relative;
	text-align: left;
	margin: 0;
	padding-left: 0;

	box-shadow: inset 0 -1px 0 #181a1f;
    background: #21252b;
}

.tabs li {
    display: inline-block;
}

.tabs input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs label {
	text-align: center;
    display: block;
    padding: 5px 25px;
    border-radius: 4px 4px 0 0;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

.tabs  .tab-content{
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    padding: 10px 0px;
    position: absolute;
    top: 53px;
    left: 0;
}
.tabs .swatch {
	position: absolute;
    top: 10px;
    left: 7px;
    z-index: 3;
}

.tabs .fa-close {
	position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 6px 6px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transform: scale(0);
    transition: transform .08s;
}

.tabs label:hover .fa-close {
    transform: scale(1);
    transition-duration: .16s;
}

.tabs  [id^="tab"]:checked + label {
	background-color: #282c34;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06), 1px 0 0 #181a1f;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}
