.CodeMirror {
    font: 12px/20px normal Menlo, Droidsansmono, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
    //height: 100%;
    height: 300px;
}

.swatch {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
    background: #000;
}

