.app {
    padding: 0;
}

@mixin full-height {
    position: fixed;
    top: 0;
    bottom: 0;
	height: 100%;
}

.layout-left {
    width: 40%;
    @include full-height;
}

.layout-right {
    @include full-height;
    width: 60%;
    margin-left: 40%;

    & > div {
	    height: 100%;
    }
}

.results-container {
    overflow: auto;
}
