.app {
    padding: 0;

    position: fixed;
    top: 0;
    bottom: 0;
	width: 100%;
}

.layout-main {
    height: 40%;
	margin-left: 80px;
	position: relative;
}

.layout-editor {
}

.layout-map {
    height: 60%;

    & > div {
	    height: 100%;
    }
}

.layout-toolbar {
    position: absolute;
    top: 0;
    bottom: 0;
	left: -80px;
	width: 80px;
	padding: 10px;
}

.results-container {
    overflow: auto;
}
