body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: white;
    background-color: #282c34;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

@import "fonts";
@import "layout";
@import "forms";
@import "button";
@import "modal";
@import "toolbar";
@import "map";
@import "editor";
@import "table";
