.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #282c34;
}

.mapboxgl-popup-content {
	background: $bg-color;
    max-width: 600px;
    overflow: hidden;
}

.mapboxgl-popup-close-button {
   padding: 0;
   right: 5px;
   font-size: 16px;
}

.mapboxgl-ctrl > button {
}


.debug-props .debug-prop-key {
    font-size: 12px;
    padding-right: 20px;
    @include selectable;
}

.debug-props .debug-prop-value {
    font-size: 12px;
    opacity: .6;
    @include selectable;
}
