$table-border-color: #222;
$table-hover-color: #494949;
$table-bg-color: #313131;
$table-bg-header-color: #222;

.FlexTable__headerRow {
  border-bottom: 1px solid $table-border-color;
  background-color: $table-bg-header-color;
}

.Grid__cell:hover {
  background-color: $table-hover-color;
  cursor: pointer;
}

.Grid_cell {
  background-color: $table-bg-color;
  border-bottom: 1px solid $table-border-color;
}

.FlexTable__truncatedColumnText {
    font-size: 12px;
    line-height: 28px;
}
